.container{
    background-color: var(--buttonBackgroundColor);
    padding-top : .75em;
    padding-right : .75em;
    padding-left : .75em;
    border-radius: 10px;
    font-size: 16px;
}

.place{
    width:100%;
    border-bottom: .1em solid var(--textColor);
    text-align: left;
}

/* start drops and words */
.dropsAndWords{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

.drops{
    height:2.33em;
    width:8.23em;
    margin-bottom: .75em;
}

.words{
    margin-left: .75em;
    height:auto;
    width:98%;
    border-radius: 5px;
    resize: none;
    background-color: #273247;
    font-size: 1em;
    color:var(--textColor);
    border:none;
    margin-bottom: .75em;
    padding:.5em;
}
.words:focus{
    outline: 0;
}
/* end drops and words */

.button {
    padding:1em;
    font-size: 1em;
    background-color: var(--buttonBackgroundColor);
    color: var(--textColor);
    border:2px solid var(--textColor);
    border-radius: var(--buttonBorderRadius);
    margin-bottom: .5em;

    -webkit-transition:  .25s; /* Safari */
    transition:  .25s;
}

.button:hover {
    background-color: var(--buttonHoverColor);
    transform: scale(1.01);
    box-shadow: -.25em .5em 1.25em 0em #111111;
    transition: .5s;
    cursor: pointer;
}

.button:focus {outline:0;}

@media screen and (max-width: 800px) {
    .container {
        top:5em;
    }
    
    .words{
       margin-left: 1em;
       border: 3px solid #273247;
    } 
}
 
@media screen and (max-width: 640px) {
    .container {
        background-color: var(--buttonBackgroundColor);
        top:2em;
    }
}

@media screen and (max-width: 415px) and (orientation: portrait) {
    .container{
        top:3em;
    }
}