<div class="errorMessage">  {{placeErrorMessage}} {{ratingErrorMessage}}  </div>

<div class="host">

<div class="container" [ngClass]="error ? 'hide' : 'show'">

  <div class="mapAndDetails">

    <div id="map" class="map"></div>

    <div class="details">

      <div class="place" [ngClass]="noPlace ? 'redOutline' : ''">
        <AutocompleteComponent id="Place" (setAddress)="getEstablishmentAddress($event)" adressType="establishment"></AutocompleteComponent>
      </div>

      <div class="dropsAndWords">

        <div>
          <div class="drops" *ngFor="let thing of thingsToRate" [ngClass]="noRating ? 'redOutline' : ''" >
            <app-dropdown [item]="thing" (ratingClick)='dropdownReceiver($event)' ></app-dropdown>
          </div>
        </div>

        <textarea id="words" class="words" [(ngModel)]="words" placeholder = "Comments" onfocus="this.placeholder=''"></textarea>

      </div>

    </div>

  </div>

  <button (click)="addButtonHandler(1)">ADD RATING</button>

</div>


</div>
