<!-- HIDDEN INPUT -->
<input type="file" name="file" id="file" class="inputfile" class="hiddenInput" #george (change)="upload(george)" />

<!-- CONTAINER-->
<div class="container"  [ngClass]="reviews.length === 0 ? 'containerNoReviews' : ''" >

  <!-- OVERLAY SCREEN FOR DIALOGS -->
  <!-- <div class="confirmDialog visibilityHidden" [ngClass]="showDeleteConfirm || showEditPost? 'visibilityVisible' : ''">  </div> -->

  <!--  PICTURE AND CHANGE PICTURE BUTTON -->
  <div class="picture">
    <div class="displayNameTop">{{userDisplayName}}</div>
    <div class="containingDiv" [ngClass]="userImage ? '' : 'hide'"> <img [src]="userImage"> </div>
    <div class="displayNameBottom">{{userDisplayName}}</div>
    <label for="file" class="button" [ngClass]="isCurrentUser ? '' : 'hide'"> {{userImage ? 'Change' : 'Upload' }} Picture</label>
  </div>

  <!-- REVIEW -->
  <div class="reviews" [ngClass]="reviews.length === 0 ? 'noReviews' : ''" >

    <!-- TITLE -->
    <div class="title">Ratings</div>

    <!-- LOOP OF REVIEWS-->
    <div *ngFor="let review of reviews; let i = index;">
      <app-review [review] = "review" [isCurrentUser]="isCurrentUser" (deletedIdEmitter)="deleteHandler($event)" ></app-review>
    </div>

  </div>

</div>
<div id="map"></div>
